<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laioj.project.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.laioj.project.model.entity.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userAccount" jdbcType="VARCHAR" property="userAccount" />
    <result column="avatarUrl" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="userPassword" jdbcType="VARCHAR" property="userPassword" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="userStatus" jdbcType="INTEGER" property="userStatus" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="isDelete" jdbcType="TINYINT" property="isDelete" />
    <result column="userRole" jdbcType="INTEGER" property="userRole" />
    <result column="planetCode" jdbcType="VARCHAR" property="planetCode" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, userAccount, avatarUrl, gender, userPassword, phone, email, userStatus,
    createTime, updateTime, isDelete, userRole, planetCode, tags
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.laioj.project.model.entity.User" useGeneratedKeys="true">
    INSERT INTO `user` (userAccount, userPassword,planetCode)
    VALUES (#{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},#{planetCode,jdbcType=VARCHAR})

  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.laioj.project.model.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="userAccount != null">
        userAccount,
      </if>
      <if test="avatarUrl != null">
        avatarUrl,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="userPassword != null">
        userPassword,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="userStatus != null">
        userStatus,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="isDelete != null">
        isDelete,
      </if>
      <if test="userRole != null">
        userRole,
      </if>
      <if test="planetCode != null">
        planetCode,
      </if>
      <if test="tags != null">
        tags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=INTEGER},
      </if>
      <if test="planetCode != null">
        #{planetCode,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.laioj.project.model.entity.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        userAccount = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        avatarUrl = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="userPassword != null">
        userPassword = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        userStatus = #{userStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        isDelete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="userRole != null">
        userRole = #{userRole,jdbcType=INTEGER},
      </if>
      <if test="planetCode != null">
        planetCode = #{planetCode,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.laioj.project.model.entity.User">
    <!--@mbg.generated-->
    update `user`
    set username = #{username,jdbcType=VARCHAR},
      userAccount = #{userAccount,jdbcType=VARCHAR},
      avatarUrl = #{avatarUrl,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      userPassword = #{userPassword,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      userStatus = #{userStatus,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      isDelete = #{isDelete,jdbcType=TINYINT},
      userRole = #{userRole,jdbcType=INTEGER},
      planetCode = #{planetCode,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2024-07-12-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
  </select>

<!--auto generated by MybatisCodeHelper on 2024-07-12-->
  <select id="getById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where id=#{id,jdbcType=BIGINT}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-07-12-->
  <select id="getByTags" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where tags=#{tags,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-07-12-->
  <select id="countByUserAccount" resultType="java.lang.Long">
    select count(1)
    from `user`
    where userAccount=#{userAccount,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-07-12-->
  <select id="selectAllByUserAccountAndUserPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `user`
    where userAccount=#{userAccount,jdbcType=VARCHAR} and userPassword=#{userPassword,jdbcType=VARCHAR}
  </select>


</mapper>